.layeredMap__toolbar{
    width: 44px;
}

.layeredMap_projectionIcons,
.layeredMap_layerIcons{
    border-radius: 0px!important;
    border-collapse: separate;
    border-width:0 !important;
    position: relative;
    width: 100%;
    height: 44px;
    background-color: #1e1e1e !important;
}

.layeredMap_btnBlock{
    opacity: 1;
    -o-transition:.8s;
    -ms-transition:.8s;
    -moz-transition:.8s;
    -webkit-transition:.8s;
    transition:.8s;
    border-radius: 50px;
}

.layeredMap_btnBlock:hover{
    opacity: 1;
}

.layeredMap_projectionIcons div,
.layeredMap_layerIcons div{
    position: absolute;
    top:0;
    bottom:0;
    right:0;
    left:0;

    background-position: center;
    background-repeat: no-repeat;
}

.layeredMap_projectionXY{
    background-image: url("./images/projection_icons/side_view.png");
}

.layeredMap_projectionXZ{
    background-image: url("./images/projection_icons/top_view.png");
}


.layerSelector{
    margin-top: 20px;
}

.layeredMap_projection_raw{
    background-image: url("./images/layer_icons/raw.png");
}

.layeredMap_projection_tracker{
    background-image: url("./images/layer_icons/height.png");
}

.layeredMap_projection_posture{
    background-image: url("./images/layer_icons/position.png");
}

.layeredMap_projection_deadzones{
    background-image: url("./images/layer_icons/heatmap.png");
}

.layerSelector__btnImg{
    width:35px;
    height:35px;
    margin: auto;
    border-radius: 22px;
}

.layeredMap_layerIcons .selected{
    border: 1px solid #85F4FF;
}

