div.graphSection {
    position: absolute;
    top: 70px;
    bottom: 0;
    left: 0;
    right: 0;
}

div.graphRow {
    height: 50%;
}

#graph-params > div.col-md-12 {
    width: 100%;
}

#graph-params > div.col-md-10 {
    width: 83.33333333%;
    float: left;
}

#graph-params > div.col-md-2 {
    width: 16.66666667%;
    float: left;
}

div.graphSection div.graphRow div.col-md-6 {
    width: 50%;
    float: left;
}

.graph-arena {
    background-color: #3B4154;
    margin-bottom: 10px;
    margin-right: 20px;
    position: absolute;
    top: 70px;
    bottom: 10px;
    left: 0;
    right: 0;
}

