@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden;
  background: #222736;
  color: #fff;
}
.navbar {
    background: #f4f4f4;
    border: 0;
    border-bottom: 1px solid #e2e2e2;
    border-radius: 0;
    height: 60px;
    margin: 0;
    padding: 0;
}
.navbar > div {
    padding-left: 30px;
    padding-right: 30px;
    width: initial;
}
.navbar-brand {
    height: 60px;
    padding: 20px;
}
.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav > li > a {
    text-shadow: none;
    color: #555;
}
.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {
    color: #555;
}
.btn {
    padding: 8px 16px;
    text-shadow: none;
    margin-right: 15px;
    box-shadow: none;
}
.btn:active,
.btn:focus {
    outline: none;
}
.btn.btn-primary {
    background: #3955a5;
    border: 0;
    font-size: 14px;
}




