body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  overflow-x: hidden;
}

.navbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
    border: 0;
    border-bottom: 1px solid #ccc;
    border-radius: 0;
    height: 60px;
    margin: 0;
    padding: 0;
}
.navbar-brand {
    height: 60px;
    padding: 20px;
}
.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav > li > a {
    text-shadow: none;
    color: #555;
}
.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {
    color: #555;
}
.btn {
    padding: 8px 16px;
    text-shadow: none;
    margin-right: 15px;
}
.btn:active,
.btn:focus {
    outline: none;
}
.btn.btn-primary {
    background: #222;
    border: 0;
    font-size: 14px;
}


