#graph-params {
    display: flex;
    padding-left: 0;
    padding-right: 0;
    position: absolute;
    top: 60px;
    bottom: 0;
    right:0;
    left:0;
}

#sidebar-wrapper {
    z-index: 1000;
    width: 0;
    background: #484d5d;
    color: #fff;
    overflow-y: auto;
    width: 100%;
}

#graph-params > div {
    padding: 0;
}

#graph-params > div.col-md-10,
#graph-params > div.col-md-12 {
     -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#graph-params > .col-md-0 {
  /* Yehonathan - we need to modify the width in order to make the animation work */
  width: 0
}

#graph-params > div {
     -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}  

#graph-params.paramsDisplayed #sidebar-wrapper {
    width: 100%;
}

#sidebar-wrapper > div {
    padding: 20px 15px;
}

#sidebar-wrapper .form-control {
    background: #222736;
    border-radius: 0;
    border: 0;
    color: #fff;
}

#sidebar-wrapper h4 {
    color: #adb0bb;
    font-weight: 600;
    text-transform: uppercase;
}

#sidebar-wrapper .btn {
    margin-right: 9px;
}

#sidebar-wrapper .btn.btn-primary {
    background: #222736;
}

#sidebar-wrapper .btn-toolbar > .btn {
    margin-left: 0;
}

#sidebar-wrapper .mode-toggle {
    margin-bottom: 15px;
}

#sidebar-wrapper .mode-toggle .btn {
    margin: 0 auto;
    display: block;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    text-align: center;
    border: 0;
}

#sidebar-wrapper .mode-toggle .btn i.glyphicon {
    font-size: 20px;
    left: -6px;
    top: 2px;
}

#sidebar-wrapper .err-message {
    overflow: auto;
    color: #fff;
    font-size: 13px;
    margin-bottom: 15px;
}

#sidebar-wrapper .form-horizontal .radio,
#sidebar-wrapper .form-horizontal .checkbox {
    padding: 0 15px;
}

#sidebar-wrapper .form-horizontal .control-label {
    text-align: left;
    font-weight: 400;
    font-size: 13px;
    padding-top: 0;
    margin-bottom: 5px;
    color: #eee;
}

#sidebar-wrapper .form-group {
    margin-bottom: 10px;
}

#sidebar-wrapper > div > div a {
    display: block;
    text-decoration: none;
    color: #999999;
}

#sidebar-wrapper > div > div a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255, 255, 255, 0.2);
}

#sidebar-wrapper > div > div a:active,
#sidebar-wrapper > div > div a:focus {
    text-decoration: none;
}

#page-content-wrapper {
    width: 100%;
}

#page-content-wrapper .page-toolbar #menu-toggle {
    float: right;
}

#page-content-wrapper .graphSection {
    padding-left: 15px;
}

#page-content-wrapper .graphSection > div.row {
    margin-right: 0;
    margin-left: 0;
}

.slider-track {
    background: #222736;
}

.slider.slider-horizontal .slider-track {
    height: 6px;
    margin-top: -5px;
}

.slider-handle {
    background: #fff;
    width: 16px;
    height: 16px;
}

@media(min-width:768px) {
    #graph-params .jumbotron {
        padding-top: 80px;
    }
}
