.graph-arena {
    background-color: rgba(0,0,0,0);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.targetUI-block{
    position: absolute;
}

.z-layer{
    height: 16px;
    width: 40px;
    margin: 0 auto;
    text-align: center;
}

.target-arena {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.target-arena-posture {
  position:absolute; /*it can be fixed too*/
  left:5px; right:5px;
  top:5px; bottom:5px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.target-arena-standing {
  background-image: url("./images/standing.png");
}

.target-arena-sitting {
  background-image: url("./images/sitting.png");
}

.target-arena-lying {
  background-image: url("./images/lying.png");
}

.white-target {
  background-color: white;
}

.orange-target {
  background-color: #c7895c;
}

.red-target {
  background-color: red;
}

.green-target {
  background-color: #6ca46b;
}

.blue-target {
  background-color: #7181bb;
}
